<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        " http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.YardMapper">
    <insert id="containerEntry" parameterType="ContainerInfo">
        insert into tb_containerinfo(
        container_id,
        container_type,
        in_time,
        out_time,
        container_state,
        create_time,
        modify_time
        )values(
        #{containerId},
        #{containerType},
        #{inTime},
        #{outTime},
        null,
        #{createTime},
        null
        )
    </insert>

    <select id="containerQuery" resultType="ContainerInfo">
        select * from tb_containerinfo
        order by out_time desc
        limit #{start},#{rows}
    </select>

    <select id="queryContainerTotal" resultType="int">
        select count(container_id) from tb_containerinfo;
    </select>

    <select id="containerQueryById" resultType="ContainerInfo">
        select * from tb_containerinfo where container_id=#{containerId};
    </select>

    <update id="containerExit" parameterType="string">
        update tb_containerinfo set out_time=now()
        where container_id=#{containerId}
    </update>

    <select id="queryByYardId" parameterType="string" resultType="string">
        select yard_id from tb_yardmanaging
        where yard_id like CONCAT(#{yardId},'%')
    </select>

    <select id="queryById" parameterType="string" resultType="YardManagingInfo">
        select * from tb_yardmanaging
        where yard_id=#{yardId}
    </select>

    <select id="queryByContainerId" parameterType="string" resultType="ContainerInfo">
        select * from tb_containerinfo
        where container_id=#{containerId}
    </select>

</mapper>








